# IntelliJ IDEA-specific files
.idea/
!.idea/compiler.xml
!.idea/gradle.xml
!.idea/ktlint-plugin.xml
!.idea/misc.xml
!.idea/vcs.xml
.idea/modules.xml
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/runConfigurations.xml
.idea/AndroidProjectSystem.xml
.idea/appInsightsSettings.xml
.idea/deploymentTargetSelector.xml
.idea/kotlinc.xml
.idea/migrations.xml
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/navEditor.xml

# Build output
**/build/
*.aab
*.ap_
*.apk
*.class
*.dex

# OS and IDE-specific files
.DS_Store
Thumbs.db

# Gradle files
.gradle
/local.properties
output.json

# Native build files
.cxx
.externalNativeBuild

# Miscellaneous
captures/
gen/
bin/
buildSrc/.kotlin/
