# Ignore all files in .idea by default
.idea/

# Allow specific files that are project-wide settings
!.idea/misc.xml
!.idea/vcs.xml
!.idea/gradle.xml
!.idea/compiler.xml
!.idea/ktlint-plugin.xml

# Ignore user-specific and temporary files
.idea/AndroidProjectSystem.xml
.idea/appInsightsSettings.xml
.idea/deploymentTargetSelector.xml
.idea/runConfigurations.xml
.idea/migrations.xml
.idea/kotlinc.xml
.idea/.name

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
**/build/
/build
/captures
.externalNativeBuild
.cxx
local.properties